@model Horseplay.ViewModels.CompanyViewModel


<link href="~/Content/Tab-control.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Company.CompanyId)

    <h4>Edycja firmy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" class="tab-label">Ogólne</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" class="tab-label">Kontakt</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" class="tab-label">Finanse</label>



        <section id="content1">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Company.Type, Model.CompanyTypes(0), htmlAttributes: new { @class = "form-control company-type" })
                        @Html.ValidationMessageFor(model => model.Company.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Address.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.Address.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.Address.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Address.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.Address.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Address.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.Address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.Address.ZipCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Address.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.Address.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.Address.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Company.Address.Country, Model.Countries(0), new { @class = "form-control", id = "dd-country", data_placeholder = "Wybierz.." })
                        @Html.ValidationMessageFor(model => model.Company.Address.Country, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </section>
        <section id="content2">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.ContactDetail.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.ContactDetail.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.ContactDetail.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.ContactDetail.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.ContactDetail.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.ContactDetail.Mobile, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.ContactDetail.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.ContactDetail.Fax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.ContactDetail.Fax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.ContactDetail.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.ContactDetail.Mail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.ContactDetail.Mail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </section>
        <section id="content3">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Company.TaxRegisterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.TaxRegisterNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.TaxRegisterNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.BusinessRegisterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.BusinessRegisterNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.BusinessRegisterNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.CourtRegisterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.CourtRegisterNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.CourtRegisterNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Company.PaymentTerm, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Company.PaymentTerm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company.PaymentTerm, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </section>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Utwórz" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Powrót do listy firm", "GetCompanies")
</div>

@section scripts{
    <script>
        $(function () {
            $('#dd-country').chosen({ no_results_text: "Brak wyników dla.." });
        });
    </script>
    }

